/* container */
.wrapper{
    width:100%;
}
.wrapper .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
/* content */
.wrapper .content {
    padding:50px;
    text-align:center;
}
.wrapper .content .heading{
    margin:0px 0px 40px 0px;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

    btn {
        border-radius: 6px;
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 280px;
        display: block;
        letter-spacing: 0.05em;
        background: #2fa0f6;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
    }
    @media screen and (max-width: 480px) {
        btn {
            margin-top: 24px;
            padding-top: 8px;
            padding-bottom: 8px;
            width: 160px;
            font-size: 16px;
        }
    }

.Form {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}
@media screen and (max-width: 480px) {
    .Form {
        margin-top: 40px;
    }
}
.Form-Item {
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 480px) {
    .Form-Item {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
        flex-wrap: wrap;
    }
}
.Form-Item:nth-child(5) {
    border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
    width: 100%;
    max-width: 150px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
}
@media screen and (max-width: 480px) {
    .Form-Item-Label {
        max-width: inherit;
        display: flex;
        align-items: center;
        font-size: 15px;
    }
}
.Form-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
}
@media screen and (max-width: 480px) {
    .Form-Item-Label.isMsg {
        margin-top: 0;
    }
}
.Form-Item-Label-Required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #5bc8ac;
    color: #fff;
    font-size: 14px;
}
.Form-Item-Label-Required2 {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #a1a1a1;
    color: #fff;
    font-size: 14px;
}
@media screen and (max-width: 480px) {
    .Form-Item-Label-Required {
        border-radius: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        width: 32px;
        font-size: 10px;
    }
}
.Form-Item-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
}
@media screen and (max-width: 480px) {
    .Form-Item-Input {
        margin-left: 0;
        margin-top: 18px;
        height: 40px;
        flex: inherit;
        font-size: 15px;
    }
}
.Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
}
@media screen and (max-width: 480px) {
    .Form-Item-Textarea {
        margin-top: 18px;
        margin-left: 0;
        height: 200px;
        flex: inherit;
        font-size: 15px;
    }
}
.Form-Btn {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: #2fa0f6;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-width: 480px) {
    .Form-Btn {
        margin-top: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 160px;
        font-size: 16px;
    }
}

html {
    font-family: sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #000;
}

.flex {
    display: flex;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #e5e7eb;
}

.footer {
    padding: 2rem;
    font-size: 15px;
    color: #999;
    background: #fff;
}

.footer__navi {
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.footer__navi li {
    display: inline-block;
}

.footer__navi li:not(:last-child) {
    margin-right: 16px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .md-flex {
        display: flex;
    }

    .md-justify-between {
        justify-content: space-between;
    }

    .copyright {
        text-align: left;
    }
}

button {
    width: 10%;
    height: 2.5em;
    margin: 8px auto;
    padding: 4px 0;
    border-radius: 4px;
    background-color: #a1a1a1;
    color: white;
}

button:hover {
    opacity: .7;
}

.popup-content{
    visibility: hidden;
    opacity : 0;
}

#open:checked ~ .popup-content{
    visibility: visible;
    opacity : 1;
    transition: .3s;
}
#open:checked ~ .overlay {
    background: rgb(51, 51, 51,.8);
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s;
    z-index: 9999;
}

.open-btn {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: #2fa0f6;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

label.close-btn {
    position: absolute;
    top: -15px;
    right: -14px;
    background: #383c3c;
    color: rgb(0, 136, 255);
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 50px;
    line-height: 1.6;
}

.fa-times-circle {
    position: relative;
    top: -2px;
    left: -2px;
    font-size: 1.9em;
    color: #ffffff;
}

.popup-content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    height: auto;
    background-color: aliceblue;
    border: 5px solid #00bcd4;
    z-index: 9999;
    transition: .1s;
    padding: 12%;
    font-size: 20px;
}

@media (orientation: landscape){
    .popup-content{
        width: 55%;
    }
}


input#open{display: none;}

